.historyBtn, .restartBtn, .menuBtn{
    text-align: center;
    width: 150px;
    height: 60px;
    font-family: fantasy;
    font-size: 17px;
    border: black solid 7px;
    background-color: rgb(206, 10, 115);
    color: white;
    margin: 10px;
    letter-spacing: 1px;
}
#card{  
    display: inline-grid;
    grid-template-rows: 320px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-top: -4vh;
    grid-gap: 40px;
}
.flipCard{
    background-color: transparent;
    text-align: center;
    width: 245px;
    height: 330px;
}
.flipCardInner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flipCardBack{
    background: url("https://images.unsplash.com/photo-1610397648930-477b8c7f0943?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE0MnxibzhqUUtUYUUwWXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
}
.flipCardBack,
.flipCardNumber{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flipCardNumber{
    font-size: 50px;
    background-color: antiquewhite;
    transform: rotateY(180deg);
}
.startBtn{
    background-color: rgb(255, 106, 185);
    border: black solid 10px;
    font-size: 24px;
    width: 13vw;
    font-family: fantasy;
    letter-spacing: 5px;
    padding: 15px;
    margin-top: 1vh;
}
.startBtn:hover, .historyBtn:hover, .menuBtn:hover, .restartBtn:hover{
    opacity: 0.8;
}
.nameInput{
    height: 6vh;
    border: black solid 10px;
    font-size: 25px;
    width: 11.8vw;
    font-family: fantasy;
    margin-top: 20vh;
}
.gameOverMsgBox{
    position: fixed;
    z-index: 9;
    background-color: lavenderblush;
    height: 30vh;
    width: 57.3vw;
    box-shadow: rgb(250, 211, 224) 0px 1px 5px 5px;
}
.gameOverMsg{
    line-height: 2.5;
    margin-top: 4vh;
    font-family: fantasy;
    letter-spacing: 5px;
    font-size: 35px;
    color: deeppink;
}
.levels{
    height: 8.5vh;
    border: black solid 10px;
    font-size: 25px;
    width: 13vw;
    font-family: fantasy;
    margin-top: 1vh;
    z-index: 9;
}