.historyBtn, .restartBtn, .menuBtn{
    text-align: center;
    width: 150px;
    height: 60px;
    font-family: fantasy;
    font-size: 17px;
    border: black solid 7px;
    background-color: rgb(206, 10, 115);
    color: white;
    margin: 10px;
    letter-spacing: 1px;
}
.card_easy{  
    display: inline-grid;
    grid-template-rows: 288px;
    justify-content: center;
    margin-top: -8vh;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
.card_medium{  
    display: inline-grid;
    grid-template-rows: 243px;
    justify-content: center;
    margin-top: -8vh;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 12px;
    margin-left: 6vw;
}
.card_hard{  
    display: inline-grid;
    grid-template-rows: 223px;
    justify-content: center;
    margin-top: -8vh;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
}
.flipCard_easy{
    background-color: transparent;
    text-align: center;
    width: 215px;
    height: 290px;
}
.flipCard_medium{
    background-color: transparent;
    text-align: center;
    width: 180px;
    height: 243px;
}
.flipCard_hard{
    background-color: transparent;
    text-align: center;
    width: 165px;
    height: 223px;
}
.cardImg_easy{
    width: 215px;
    height: 290px;
}
.cardImg_medium{
    width: 180px;
    height: 243px;
}
.cardImg_hard{
    width: 165px;
    height: 223px;
}
.flipCardInner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flipCardBack{
    background: url("https://images.unsplash.com/photo-1610397648930-477b8c7f0943?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE0MnxibzhqUUtUYUUwWXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
}
.flipCardBack,
.flipCardNumber{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flipCardNumber{
    font-size: 50px;
    background-color: antiquewhite;
    transform: rotateY(180deg);
}
.startBtn{
    background-color: rgb(255, 106, 185);
    border: black solid 10px;
    font-size: 24px;
    width: 13vw;
    font-family: fantasy;
    letter-spacing: 5px;
    padding: 15px;
    /* margin-top: 1vh; */
    margin: 10px;
}
.startBtn:hover, .historyBtn:hover, .menuBtn:hover, .restartBtn:hover{
    opacity: 0.8;
}
.nameInput{
    height: 6.1vh;
    border: black solid 10px;
    font-size: 25px;
    width: 11.8vw;
    font-family: fantasy;
    /* margin-top: 20vh; */
    margin: 10px;
}
.gameOverMsgBox{
    position: fixed;
    z-index: 9;
    background-color: lavenderblush;
    height: 30vh;
    width: 57.3vw;
    box-shadow: rgb(250, 211, 224) 0px 1px 5px 5px;
}
.gameOverMsg{
    line-height: 2.5;
    margin-top: 4vh;
    font-family: fantasy;
    letter-spacing: 5px;
    font-size: 35px;
    color: deeppink;
}
.levels{
    height: 8.5vh;
    border: black solid 10px;
    font-size: 25px;
    width: 13vw;
    font-family: fantasy;
    /* margin-top: 1vh; */
    z-index: 9;
    margin: 10px;
}
.controlBtns{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 15.8vh;
    left: 0.5vw;
    align-items: center;
    background-color: lavenderblush;
    width: 12vw;
}
.timer{
    font-size: 20px;
    font-family: fantasy;
    margin: 1vh;
    color: red;
    letter-spacing: 1px;
}
.mainHeader{
    color: deeppink;
    font-size: 80px;
    margin-top: -2vh;
    margin-bottom: 0;
}
.mainImg{
    width: 50vw;
    height: 35vh;
}
.showHistory{
    width: 12vw;
    text-align: left;
    overflow-y: scroll;
}
.historyInfo{
    font-size: 17px;
}
.mainBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.startMenu{
    display: flex;
    margin-top: 10vh;
}

@media screen and (max-width: 768px){
    .mainHeader{
        font-size: 40px;
        margin-top: 0;
    }
    .startBtn, .levels, .nameInput{
        border: black solid 8px;
        font-size: 18px;
        margin: 5px;
        height: 8vh;
    }
    .nameInput{
        width: 17vw;
        height: 6vh;
    }
    .timer{
        font-size: 16px;
    }
    .controlBtns{
        position: static;
        width: 130px;
        margin-top: 1vh;
    }
    .flipCard_easy, .cardImg_easy{
        width: 175px;
        height: 236px;
    }
    .card_easy{
        grid-template-rows: 237px;
        grid-gap: 8px;
    }
    .historyBtn, .restartBtn, .menuBtn{
        width: 130px;
        height: 50px;
        font-size: 15px;
        margin: 5px;
    }
    .showHistory{
        width: 130px;
    }
    .historyInfo {
        font-size: 12px;
    }
    .card_medium{
        grid-template-columns: repeat(4, 1fr)
    }
    .flipCard_medium, .cardImg_medium{
        width: 150px;
        height: 202px;
    }
    .card_medium{
        grid-template-rows: 203px;
        grid-gap: 8px;
        margin-left: 0;
    }
    .flipCard_hard, .cardImg_hard{
        width: 115px;
        height: 155px;
    }
    .card_hard{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 154px;
        grid-gap: 5px;
    }
}
@media screen and (max-width: 425px){
    .mainHeader{
        font-size: 25px;
        margin-top: -10px;
    }
    .mainImg {
        width: 60vw;
        height: 24vh;
        margin-top: 6vh;
    }
    .startMenu{
        flex-direction: column;
    }
    .nameInput{
        height: 2vh;
        border: black solid 6px;
        font-size: 15px;
        width: 25vw; 
        padding: 10px;
    }
    .startBtn, .levels{
        border: black solid 6px;
        font-size: 15px;
        width: 32.5vw;
        padding: 5px;
        height: 5.5vh;
    }
    .timer{
        font-size: 12px;
    }
    .flipCard_easy, .cardImg_easy{
        width: 98px;
        height: 132px;
    }
    .card_easy{
        grid-template-rows: 132px;
        grid-gap: 5px;
    }
    .controlBtns{
        position: static;
    }
    .historyBtn, .restartBtn, .menuBtn {
        width: 100px;
        height: 35px;
        font-size: 10px;
        border: black solid 5px;
        margin: 5px;
    }
    .historyInfo {
        font-size: 10px;
    }
    .card_medium{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 135px;
        grid-gap: 5px;
        margin-left: 0;
    }
    .flipCard_medium, .cardImg_medium{
        width: 100px;
        height: 135px;
    }
    .flipCard_hard, .cardImg_hard{
        width: 75px;
        height: 101px;
    }
    .card_hard{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px;
        grid-gap: 5px;
    }
}